@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');

*{
  font-family:roboto,sans-serif;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
.header{
  padding: 1rem;
  color: #424242;
  font-size:.85rem;
  font-weight: 100;
}
a:hover{
  color:#E867FF;
}
h1{
  font-size:3rem;
  font-weight: 400;
  line-height: 6rem;
}
 p{
   font-size:.85rem;
   font-weight: 100;
 }
  html,
  body {
  width: 100%;
  height: 100%;
}

.blue {
  background-color: blue;
  width: 100%;
  height: 100%;
}
.ln {
  Border : 1px solid #424242;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  color: #424242;
}

.cta {
  display: flex;
  justify-content: center;
  background: white;
}

.main {
  text-align: left;
  background: white;
}

.aside-1 {
  background: white;
}

.aside-2 {
  background: white;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .cta  { order: 4; }
}

body {
  padding: 2em; 
}

.btn {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 6px 12px #5e006a16;
  color: #ffffff;
  font-size:.85rem;
  font-weight: 100;
  background: #F6C3FF;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  /*color:#E867FF;*/
  background: #f5d0fc;
  text-decoration: none;
  box-shadow: 0px 6px 12px #5e006a16;
}

    .ft-social-list {
    display: flex;
    justify-content: center;
    padding-top: 1.25rem;
  }
  .ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
  }